@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* Solution */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
}

li a:link, a:visited {
  text-decoration: none;
  color: rgb(104, 104, 104);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.footer {
  background-color: #eeeeee;
}

button {
  padding: 8px 16px;
}